*{
    margin: 100;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    transition: 0.2s ease-in;
}
h1{
    text-align: center;
    color: rgb(94, 5, 5);
    padding: 20px;
}
nav{
    background-color: rgb(95, 0, 0);
    display: grid;
    place-items: center;
}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: #f9f8f8;
    transition: 0.2s ease-in;
    font-size: 20px;
}
nav ul a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
}
.items{
    color: rgb(11, 11, 11);
}